@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  margin: 0;
  padding: 0;
  width: 100%;
}

@keyframes slideFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
